*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 60px;
    background-color: #e6bf80;
    display:flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style:none;

}

nav a,.shop a{
    text-decoration: none;
    color: #000;
}

.shop .shopBtn{
    background-color: #6B3F2C;
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    display: inline-block;
    margin-bottom: 20px;
}

nav a:hover{
    color: #6B3F2C;
    text-decoration: underline;
}
 
nav li:hover{
    scale: 1.4;
    transition: 0.5s;
}
.shop i{
    font-size: 32px;
    color: #6B3F2C;
    margin-left: 40px ;
    margin-top: 20px ;
}

/* hero-section */
.hero{
    width: 100%;
    height: 500px;
    background-color: rgb(177, 187, 196);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    padding: 60px 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-text h2{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 1.5em;
    margin-bottom: 30px;
}

.btn{
    background-color: #6B3F2C;
    color: #fff;
    padding: 12px 25px;
    border-radius: 20px;
    text-decoration: none;

}

/* why choose us */

.why{
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.card{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    flex: 1;
    padding: 20px;
    background: #fff;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card p{
    margin: 15px 0;
}

.card h3{
    margin: 15px 0;

}

/* visit us */
.visit{
    display: flex;
    padding: 60px 10%;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.visit-images{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.visit-images img{
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
}

.visit-text p{
    margin-bottom: 25px;
    margin-top: 10px;
}
/* footer */

footer{
    background-color: #F5F0E8;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px    ;
}

/* modal popup box */

.modal{
    width: 40%;
    height: 40%;
    position: fixed;
    top: 20%;
    left: 30%;
    background-color: #fff;
    z-index: 1000;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.modal input[type="email"], .SubmitBtn{
    width: 70%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

.SubmitBtn{
    background-color: #d38752;
    color: #fff;
    border: none;
    cursor: pointer;
}

.modal h2{
    margin-bottom: 10px;

}

.closebtn{
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* menu page */

.product-section{
    margin: 60px 5%;
}

.product-section h2{
    text-align: center;
    margin: 35px 0;
    font-size: 2.5em;
}

/* Contact Us Page */
.hero-contact{
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
    padding: 50px 20px;
    text-align: center;
}

.hero-contact h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-contact p{
    color: #555;
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}

.contact-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 40px 20px;
    gap: 40px;
}

.left,.right{
    flex: 1;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-box{
    flex: 1 1 calc(50% - 20px);
    background-color: #fafafa;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-box h3{
    margin: 0 0 5px ;
    font-size: 18px;
}

.contact-box p{
    margin: 0;
    font-size: 14px;
    color: #666;
}

/* Contact Form */
.right p{
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.right h2{
    margin-top: 0;
    font-size: 28px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group input,.form-group textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.right button{
    background-color: #d38752;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

.contact-form button:hover{
    background-color: #b46d3c;
}

.map iframe{
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 12px;
}

/* cart page */
.cart-container{
    width: 80%;
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

th{
    text-align: left;
    padding: 10px;
    background-color: #f4f4f4;
}

td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: center;
}

td input{
    width: 50px;
    padding: 5px;
    text-align: center;
}

td a{
    color: #d38752;
    text-decoration: none;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ddd;
    width: 100%;
    max-width: 350px;
}

td:last-child,th:last-child{
    text-align: right;
}

/* login page */

.login-container{
    width: 850px;
    height: 500px;
    display: flex;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

.left-side{
    width: 50%;
    background: linear-gradient(135deg,#b08968,#d4a373,#faedcd);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: #3e2723;

}
.right-side{
    width: 50%;
    padding: 60px;
}
.right-side h2{
    font-size: 28px;
    margin-bottom: 10px;
    color: #3e2723;
}
.welcome-text{
    font-size: 14px;
    color: #7a6a56;
    margin-bottom: 30px;
}

.login-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #bfa48a ;
    border-radius: 6px;
    outline: none;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #fffaf3;

}

.login-form label{
    font-size: 14px;
    color: #5d4037;
    display: block;
    margin: 10px 0 5px;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin: 10px 0 20px;
}
.opption label{
    display: flex;
    align-items: center;
    margin-left: -10px;
}
.options a{
    text-decoration: none;
    color: #7b2ff7;
}
.login-btn{
    width: 100%;
    padding: 12px;
    background: #a97142;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.login-btn:hover{
    background: #8b5e34;
}
.signup-text{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
.signup-text a{
    color: #a97142;
    text-decoration: none;
    font-weight: 500;
}
/* mobile view  */
@media screen and (max-width:768px){
    .logo{
        display: none;
    }
    .modal{
        width: 80%;
        height: auto;
        left: 10%;

    }
    .contact-container{
        flex-direction: column;
    }  
    .login-container{
        flex-direction: column;
        width: 100%;
        height: auto;
    }  
    .left-side,.right-side{
        width: 100%;
    }
    .left-side{
        font-size: 30px;
        padding: 40px 20px;
    }
    .right-side{
        padding: 40px 25px ;
    }
    .right-side h2{
        text-align: center;
    }
    .signup-text{
        margin-bottom: 10px;
    }
}